@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 78%;
    max-width: 1040;
    margin: 120px auto;
}

.banner {
    background-image: url("../resources/BannerImage.png");
    width: 1320px;
    height: 608px;
    flex-shrink: 0;
    border-radius: 13px;
    display: flex;
    background-color: rgba(7, 2, 17, 0.00);

    1x
}

.banner .banner-text {
    margin: 110px auto;
    padding-top: 100px;
    text-align: center;
    font-family: Merriweather;
    gap: 16px;

}

.banner .banner-text h3 {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 316;
    line-height: normal;
}

.banner .banner-text p {
    color: #FFF;
    width: 499px;
    font-size: 57px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

#categories .section-heading * {
    gap: 25px;
}

#categories .discount {
    text-align: center;
    font-family: Inter;
}

#categories .discount h2 {
    color: #F00;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#categories .discount p {
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#categories .discount h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#categories .new-img {
    width: 634px;
    height: 395px;
    margin: 0 auto;
}

#midnight h2 p {
    margin: 110px auto;
    padding-top: 100px;
    text-align: left;
    font-family: Merriweather;
    gap: 16px;
}

#midnight .midnight-img {
    background-image: url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-position: center;
    margin: 0 auto;
}

#midnight .welcom-heading h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 51px;
    margin-bottom: 24px;
    width: 507px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

#midnight .welcom-heading p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14px;
    width: 551 px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

#midnight .welcom-heading h3 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

#schedule .time {
    text-align: center;
    margin-top: 120px;
    background-color: rgba(247, 138, 138, 0.11);
}

.container #schedule .schedule-text {
    font-family: Inter;
    font-size: 25px;
    text-align: center;
}

span {
    color: #F00;
    font-family: Inter;
    font-size: 25px;
    text-transform: capitalize;
}

.button {
    color: #FFF;
    border-radius: 8px;
    padding: 15px 28px;
    background: rgb(236, 52, 28);
    font-size: 16px;
    width: 103px;
    height: 20px;
    text-transform: uppercase;
}

#packege .comming {
    display: flex;
}

.ellipse-img {
    width: 288px;
    height: 288px;
    border-radius: 364.844px;


}

#packege .comming p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

#packege .comming h4 {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#packege .comming h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#packege .comming h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.portfolio-img .portfolio-img-1 {
    width: 335px;
    height: 356px;
    display: flex;
    justify-content: space-between;
}

#portfolio .awesome .portfolio-img-1 {}

#newsletter {
    background-color: antiquewhite;
    border-radius: 16px;
    width: 1320px;
    height: 616px;


}

.footer-section {
    width: 1600px;
    height: 609px;
    background: #070211;
}

.des {
    display: flex;
    text-align: end;
}

.footer-section p ul {
    color: #FFF;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}